certifi==2026.5.20
charset-normalizer==3.4.7
chipwhisperer==6.0.0
colorama==0.4.6
configobj==5.0.9
Cython==3.2.4
ECPy==1.2.5
fastdtw==0.3.4
idna==3.16
joblib==1.5.3
libusb1==3.4.0
numpy==1.26.4
PyQt6==6.11.0
PyQt6-Qt6==6.11.1
PyQt6_sip==13.11.1
pyqtgraph==0.14.0
pyserial==3.5
PyWavelets==1.9.0
requests==2.34.2
scikit-learn==1.8.0
scipy==1.17.1
threadpoolctl==3.6.0
tqdm==4.67.3
urllib3==2.7.0